name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read
  statuses: write

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: actions-rust-lang/setup-rust-toolchain@v1
      with:
        toolchain: 1.88.0
        cache: true
        cache-workspaces: true
        cache-key: ${{ runner.os }}-rust-${{ hashFiles('**/Cargo.lock') }}
        components: llvm-tools-preview
    - name: Build
      run: cargo build --verbose